

























/*
*{
    margin:30px 20px
    
}

.first-box{
    border: dashed red;
    text-align: center;
    padding: 25px 30px 30px 30px
}
.second-box{
      border: dashed red;
      padding: 25px 30px 30px 30px
}
.third-box{
      border: dashed red;
      padding: 15px 25px 25px 25px 
}
.fourth-box{
      border: dashed red;
      padding: 10px 20px 20px 20px 
}
p{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}*/